body {
	font-family: sans-serif;
	margin: 20pt;
	background: linear-gradient(-170deg, #605040, #353635);
	position: relative;
	overflow: hidden;
}

div.tank {
	position: absolute;
	width: 42px;
	height: 42px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

div.tank-caterpillars {
	position: absolute; left: 0; top: 0;
	width: 42px;
	height: 42px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
div.tank-caterpillars.frame1 {
	background-image: url('img/tank_parts/tank-caterpillars-frame1.svg');
}
div.tank-caterpillars.frame2 {
	background-image: url('img/tank_parts/tank-caterpillars-frame2.svg');
}


div.tank-caterpillars-overlay {
	position: absolute; left: 0; top: 0;
	width: 42px;
	height: 42px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	mix-blend-mode: multiply;
}
div.tank-caterpillars-overlay.frame1.green {
	background-image: url('img/tank_parts/green/tank-caterpillars-frame1-overlay.svg');
}
div.tank-caterpillars-overlay.frame2.green {
	background-image: url('img/tank_parts/green/tank-caterpillars-frame2-overlay.svg');
}		
div.tank-caterpillars-overlay.frame1.yellow {
	background-image: url('img/tank_parts/yellow/tank-caterpillars-frame1-overlay.svg');
}
div.tank-caterpillars-overlay.frame2.yellow {
	background-image: url('img/tank_parts/yellow/tank-caterpillars-frame2-overlay.svg');
}


div.tank-body {
	position: absolute; left: 0; top: 0;
	width: 42px;
	height: 42px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url('img/tank_parts/tank-full-body.svg');
}

div.tank-shadow {
	position: absolute; left: 0; top: 0;
	width: 42px;
	height: 42px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url('img/tank_parts/tank-shadow.svg');
}

div.tank-body-overlay {
	position: absolute; left: 0; top: 0;
	width: 42px;
	height: 42px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	mix-blend-mode: multiply;
}

div.tank-body-overlay.green {
	background-image: url('img/tank_parts/green/tank-full-body-overlay.svg');
}
div.tank-body-overlay.yellow {
	background-image: url('img/tank_parts/yellow/tank-full-body-overlay.svg');
}

div.field-cell {
	position: absolute;
	width: 14px;
	height: 14px;
}

div.concrete {
	position: absolute; left: 0; top: 0;
	width: 14px;
	height: 14px;
	background-image: url('img/concrete-full.svg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

div.brick {
	position: absolute; left: 0; top: 0;
	width: 14px;
	height: 14px;
	background-image: url('img/brick-full.svg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


div.field {
	margin: 0;
}

div.missile {
	position: absolute; left: 0; top: 0;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url('img/missile.svg');
}

div.game {
	margin: 10px;
	position: relative;
	display: inline-block;
	background: linear-gradient(-170deg, #756655, #606540);
}

div.root {
	width: 890px;
	margin: auto;
}

div.frags-player {
	margin: 5px;
	color: #000000;
    text-shadow: 0 0 5px #f0c0a0;
	
}

div.frags-pane {
	background: linear-gradient(-170deg, #d0c0b0, #b59785);
	padding: 15px;
	margin: 10px;
    position: relative;
    border-radius: 5px;
    border-width: 1px;
    border-color: #202020;
    width: 200px;
    
    display: inline-block;
    vertical-align: top;
    
}

h2.frags {
	color: #000000;
    text-shadow: 0 0 5px #f0c0a0;
	margin: 0;
	font-weight: normal;
}